@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  @apply bg-white text-gray-800;
  margin: 0 ;
 
  padding: 0;
 
}

@media (prefers-color-scheme: dark) {
  body {
    @apply bg-zinc-900 text-white;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}